.bg-out-bg {
	width: 1149px;
	background: url(out.png) no-repeat -2357px -1257px;
	height: 566px;
}
.bg-out-icon_timerCenter {
	width: 26px;
	background: url(out.png) no-repeat -4006px -1499px;
	height: 27px;
}
.bg-out-btn_light {
	width: 113px;
	background: url(out.png) no-repeat -2838px -1989px;
	height: 89px;
}
.bg-out-btn_click_here {
	width: 291px;
	background: url(out.png) no-repeat -2952px -1989px;
	height: 86px;
}
.bg-out-eyes_img {
	width: 300px;
	background: url(out.png) no-repeat -2284px -1860px;
	height: 269px;
}
.bg-out-char_clock {
	width: 32px;
	background: url(out.png) no-repeat -4006px -1466px;
	height: 32px;
}
.bg-out-arrow {
	width: 498px;
	background: url(out.png) no-repeat -3507px -1257px;
	height: 545px;
}
.bg-out-icon_replay {
	width: 101px;
	background: url(out.png) no-repeat -3905px -1860px;
	height: 101px;
}
.bg-out-wait_clock_icon {
	width: 31px;
	background: url(out.png) no-repeat -4062px -1410px;
	height: 34px;
}
.bg-out-btn_get {
	width: 439px;
	background: url(out.png) no-repeat -3261px -1860px;
	height: 103px;
}
.bg-out-icon_addColl {
	width: 101px;
	background: url(out.png) no-repeat -3701px -1860px;
	height: 101px;
}
.bg-out-bg_border {
	width: 1181px;
	background: url(out.png) no-repeat -0px -1257px;
	height: 602px;
}
.bg-out-char_next {
	width: 32px;
	background: url(out.png) no-repeat -4039px -1466px;
	height: 32px;
}
.bg-out-logo {
	width: 422px;
	background: url(out.png) no-repeat -2838px -1860px;
	height: 128px;
}
.bg-out-arrow_blur {
	width: 615px;
	background: url(out.png) no-repeat -0px -1860px;
	height: 545px;
}
.bg-out-right_white_bg {
	width: 879px;
	background: url(out.png) no-repeat -616px -1860px;
	height: 544px;
}
.bg-out-loading_wheel {
	width: 55px;
	background: url(out.png) no-repeat -4006px -1410px;
	height: 55px;
}
.bg-out-left_white_bg {
	width: 787px;
	background: url(out.png) no-repeat -1496px -1860px;
	height: 544px;
}
.bg-out-white_bg {
	width: 1174px;
	background: url(out.png) no-repeat -1182px -1257px;
	height: 590px;
}
.bg-out-icon_addExp {
	width: 101px;
	background: url(out.png) no-repeat -3803px -1860px;
	height: 101px;
}
.bg-out-btn_light_outer {
	width: 252px;
	background: url(out.png) no-repeat -2585px -1860px;
	height: 262px;
}
.bg-out-btn_close {
	width: 71px;
	background: url(out.png) no-repeat -4006px -1338px;
	height: 71px;
}
.bg-out-reward_item {
	width: 80px;
	background: url(out.png) no-repeat -4006px -1257px;
	height: 80px;
}
.bg-out-out {
	width: 4095px;
	background: url(out.png) no-repeat -0px -0px;
	height: 1256px;
}
