#loadingIcon{display:none;position:absolute;}
#expand_btn_img{position:absolute;height:100%;width:100%;right:0%}
#collapse_btn_img{position:absolute;height:100%;width:100%;right:0%}
#end_screen{position:absolute;height:auto;width:100%;display:none;}
#openProductLinkZone{position:absolute;width:85%;height:85%;right:0%;bottom:0%}
#replay_btn_img{position:absolute;height:100%;width:auto;left:0%}

#countDownCircle{position:absolute;text-align: center;vertical-align: middle;border-radius:100%;}
#collapse_img{position:absolute;height:100%;width:auto;right:0%}
#countDownCircleProcess{position:absolute;}
#countDownCircleHalfCircle1{position: absolute;border-radius: 100%}
#countDownCircleHalfCircle2{position: absolute;border-radius: 100%}
#countDownCircleNumber{color: #FFBBBB;}

.videoFullScreen{position:absolute;width:100%;height:100%;background-color:black}
.countDownCircleCollapseState{bottom:8%;left:26%;width:2.5%;}
.countDownCircleExpandState{bottom:0%;left:35%;width:2.5%;}
.collapseStateBtn{position:absolute;width:4vw;height:4vw;bottom:9%;left:4%}
.expandStateBtn{position:absolute;width:6vw;height:6vw;bottom:0%;left:1%}
.replayBtn{position:absolute;width:8vw;height:8vw;top:50%;left:50%}
.loadingIcon{position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%)}
