.bg-out-Crack_small_2 {	width: 26px;	background: url(out.png) no-repeat -975px -201px;	height: 29px;}
.bg-out-Crack_small_8 {	width: 35px;	background: url(out.png) no-repeat -975px -167px;	height: 33px;}
.bg-out-Crack_4- {	width: 462px;	background: url(out.png) no-repeat -512px -0px;	height: 457px;}
.bg-out-Crack_5- {	width: 511px;	background: url(out.png) no-repeat -0px -0px;	height: 527px;}
.bg-out-Crack_small_11 {	width: 65px;	background: url(out.png) no-repeat -714px -528px;	height: 92px;}
.bg-out-Crack_small_4 {	width: 82px;	background: url(out.png) no-repeat -512px -458px;	height: 63px;}
.bg-out-Crack_small_9 {	width: 30px;	background: url(out.png) no-repeat -975px -0px;	height: 120px;}
.bg-out-Crack_small_1 {	width: 51px;	background: url(out.png) no-repeat -595px -458px;	height: 55px;}
.bg-out-Crack_small_7 {	width: 144px;	background: url(out.png) no-repeat -647px -458px;	height: 52px;}
.bg-out-Crack_1- {	width: 55px;	background: url(out.png) no-repeat -658px -528px;	height: 97px;}
.bg-out-Crack_small_3 {	width: 41px;	background: url(out.png) no-repeat -975px -231px;	height: 18px;}
.bg-out-Crack_small_10 {	width: 23px;	background: url(out.png) no-repeat -975px -121px;	height: 45px;}
.bg-out-Crack_small_5 {	width: 55px;	background: url(out.png) no-repeat -780px -528px;	height: 70px;}
.bg-out-Crack_2- {	width: 202px;	background: url(out.png) no-repeat -361px -528px;	height: 226px;}
.bg-out-Crack_3- {	width: 360px;	background: url(out.png) no-repeat -0px -528px;	height: 379px;}
.bg-out-Crack_small_6 {	width: 93px;	background: url(out.png) no-repeat -564px -528px;	height: 98px;}
